name: Docker Build Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout kode
        uses: actions/checkout@v4

      - name: Build Docker Image
        run: |
          # Ini mensimulasikan perintah docker build yang biasa Anda ketik di terminal
          docker build -t my-test-image:latest .
          
      - name: Verify Docker Image
        run: |
          # Memastikan image berhasil dibuat dan ada di daftar
          docker images