name: Build and Publish image to Docker Hub
on:
  push:
    branches:
      - main
    paths:
      - 'Dockerfile'
      - 'index.html'
      - 'style.css'
      - 'script.js'

jobs:
  publish_images:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKER_HUB_TOKEN }}" | docker login -u dentowahyuu --password-stdin

      - name: Build and Push image
        run: |
          # Membangun image
          docker build . -t dentowahyuu/jam-digital:latest
          # Mengirim image
          docker push dentowahyuu/jam-digital:latest